$blu:#99e2d0;
$violet:#9356dc;
$pink:#ff79da;
@import "sass/base/bodystyle";
@import "sass/animations/loader";
@import "sass/layouts/header";
@import "sass/components/recherche";
@import "sass/pages/pageaccueil";
@import "sass/pages/pagemenu";
@import "sass/animations/coeurempli";
@import "sass/animations/check";
@import "sass/animations/apparition";
@import "sass/layouts/footer";
@import "sass/utils/mediaqueries";



