body{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif; 
    background-color:#f5f3f3;
}

h2{
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    font-weight: lighter;
    padding-top: 30px;
}